p {
    font-size: 22px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
}

.pink-deck {
    background-color: #FFF0F5;
}

body {
    padding-top: 40px;
}

.title {
    color: black;
    font-weight: bold;
}

.register-button {
    font-size: 16px;
    padding: 30px 90px;
}