# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# front-end
/node_modules
/client_app/node_modules
/client_app/.idea

# back-end
back_end/WebApplication1/.idea
back_end/WebApplication1/.idea.WebApplication1
back_end/WebApplication1/WebApplication1/bin
back_end/WebApplication1/WebApplication1/obj
back_end/WebApplication1/WebApplication1/Properties
.xml

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
