.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-dark .nav-link {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.navbar-dark .nav-link:hover {
    color: hotpink;
}

.active {
    color: hotpink !important;
}